# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/.terraform.tfstate.lock.info
**/terraform.tfvars
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraformrc
**/terraform.rc

# Terraform plans
**/*.tfplan
**/tfplan

# Local environment files
.env
.env.*
!.env.example

# Kubernetes local secrets
infra/kubernetes/**/*secret.yaml
!infra/kubernetes/**/*secret.example.yaml

# Ansible local inventory
infra/ansible/hosts.ini
